@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    color: rgb(237, 103, 54);
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    margin-top: -5svh;
}

canvas {
    background-color: black;
}

.panelUnderCanvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 808px;
    height: 100px;
    margin-top: -75px;
}

.d-none {
    display: none !important;
}

.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    background-image: url("img/5_background/background_behind_canvas.svg");
    background-size: 100svh 100%;
}

.panelUnderCanvas img {
    height: 40px;
}

.panelUnderCanvas img:hover {
    cursor: pointer;
}

@media only screen and (max-width: 828px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 552px) {
    canvas {
        height: 100svh;
    }
}

.description {
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: flex-start;
}

.description p {
    color: #709223;
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    margin-block-start: 0.7em;
    margin-block-end: 0em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startImg {
    height: 552px;
    width: 828px;
    padding-top: 14svh;
}

.startText {
    color: rgb(238, 4, 4);
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    margin-top: -45px;
    background-color: #709223;
    border-radius: 30px;
    width: 400px;
    height: 85px;
    text-align: center;
    text-justify: center;
}

.startText:hover {
    cursor: pointer;
    background-color: #70922380;
}
